.contact-us {
  width: 100%;
  position: relative;
  background-color: var(--color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-161xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .contact-us {
    gap: var(--gap-71xl);
  }
}
@media screen and (max-width: 900px) {
  .contact-us {
    gap: var(--gap-26xl);
  }
}
