.g22-icon {
  height: 56.3px;
  width: 70px;
  position: relative;
}
.northman {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.header-icon {
  width: 1004px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}
.about-us {
  position: relative;
  display: inline-block;
  min-width: 96px;
}
.lorem-ipsum-dolor {
  align-self: stretch;
  position: relative;
}
.about-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body1-regular-size);
  font-family: var(--body1-regular);
}
.akar-iconsfacebook-fill,
.akar-iconslinkedin-box-fill,
.akar-iconstwitter-fill,
.ant-designinstagram-filled-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.about,
.social-media {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.about {
  width: 240px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-xl);
}
.business-law,
.education-law,
.services1 {
  position: relative;
  display: inline-block;
  min-width: 90px;
}
.business-law,
.education-law {
  min-width: 111px;
}
.education-law {
  min-width: 122px;
}
.general-lawyer,
.legal-consultan {
  position: relative;
  line-height: 23.5px;
}
.legal-consultan {
  white-space: nowrap;
}
.general-lawyer {
  display: inline-block;
  min-width: 129px;
}
.services,
.services-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.services-list {
  gap: var(--gap-mini);
  font-size: var(--body1-regular-size);
  font-family: var(--body1-regular);
}
.services {
  gap: var(--gap-xl);
}
.lawyer,
.page {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.lawyer {
  min-width: 59px;
}
.appointment {
  display: inline-block;
  min-width: 111px;
}
.appointment,
.cases,
.documentation,
.news {
  position: relative;
}
.cases,
.news {
  display: inline-block;
  min-width: 51px;
}
.news {
  min-width: 46px;
}
.page-list,
.pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.page-list {
  gap: var(--gap-mini);
  font-size: var(--body1-regular-size);
  font-family: var(--body1-regular);
}
.pages {
  gap: var(--gap-xl);
}
.links,
.privacy-policy,
.term-of-use {
  position: relative;
  display: inline-block;
  min-width: 58px;
}
.privacy-policy,
.term-of-use {
  min-width: 98px;
}
.privacy-policy {
  text-decoration: none;
  color: inherit;
  min-width: 115px;
}
.footer-links,
.link-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-list {
  gap: var(--gap-mini);
  font-size: var(--body1-regular-size);
  font-family: var(--body1-regular);
}
.footer-links {
  gap: var(--gap-xl);
}
.contact-us {
  position: relative;
  display: inline-block;
  min-width: 114px;
}
.call-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.contact-values {
  position: relative;
  display: inline-block;
  min-width: 122px;
  white-space: nowrap;
}
.contact-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.location-icon {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.location-icon,
.mechanic-rdmiami-fl {
  position: relative;
}
.contact-details1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.message-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.northmanlawdomaincom {
  position: relative;
  white-space: nowrap;
}
.contact-details2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.contact,
.contact-info,
.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-info {
  gap: var(--gap-mini);
  text-align: center;
  font-size: var(--body1-regular-size);
  font-family: var(--body1-regular);
}
.contact,
.navigation {
  gap: var(--gap-xl);
}
.navigation {
  width: 1596px;
  overflow-x: auto;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}
.header-icon1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.copyright-2022-northman-container {
  position: relative;
  font-size: var(--body1-regular-size);
  line-height: 23.5px;
  display: inline-block;
  max-width: 100%;
  font-family: var(--body1-regular);
}
.main {
  width: 1596px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  max-width: 100%;
  text-align: left;
  font-size: var(--h6-size);
  color: var(--color);
  font-family: var(--h6);
}
.footer {
  width: 100%;
  background-color: #172335;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 65px 20px 64.7px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 600px) {
  .main {
    gap: 25px;
  }
}
@media screen and (max-width: 450px) {
  .about-us,
  .contact-us,
  .links,
  .northman,
  .page,
  .services1 {
    font-size: var(--font-size-lgi);
  }
}