.lets-make-a {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
}
.appointment-title,
.name-email,
.phone-date,
.phone-date1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.appointment-title {
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.name-email,
.phone-date,
.phone-date1 {
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.make-appointment {
  position: relative;
  font-size: var(--h6-size);
  font-family: var(--h6);
  color: var(--color2);
  text-align: center;
}
.submit-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-29xl);
  background-color: var(--color1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.submit-button:hover {
  background-color: var(--color-slategray);
}
.appointment-content,
.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.input-fields {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-31xl);
  font-size: var(--h5-size);
}
.appointment-content {
  width: 1596px;
  align-items: flex-end;
  gap: var(--gap-61xl);
}
.appointment-content-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-7xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--h1-size);
  color: var(--color-gray-300);
  font-family: var(--h6);
}
@media screen and (max-width: 900px) {
  .lets-make-a {
    font-size: var(--font-size-39xl);
  }
  .input-fields,
  .name-email,
  .phone-date,
  .phone-date1 {
    gap: var(--gap-6xl);
  }
  .appointment-content {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .lets-make-a {
    font-size: var(--font-size-24xl);
  }
  .submit-button {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .appointment-content {
    gap: var(--gap-xl);
  }
}
